@page "/"
@using BlazorNet5App1.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyButton ButtonText="@MyButtonText" OnClickCallback="@Button_Click"></MyButton>

<ComponentLifeCycle FirstName="Wu" LastName="Gelis" JobTitle="工程師"></ComponentLifeCycle>

<MyButton2 ButtonText="我是按鈕2"></MyButton2>

<TwowayBinding></TwowayBinding>

@code {

    int current = 0;
    string _buttonText = "我是按鈕";

    [Parameter]
    public string MyButtonText { get; set; }

    protected void Button_Click(MouseEventArgs e)
    {
        MyButtonText = "";

        current++;

        string buttonText = $"{_buttonText} {current}";

        MyButtonText = buttonText;
    }

    protected override void OnInitialized()
    {
        MyButtonText = _buttonText;

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            base.OnAfterRender(firstRender);
        }
    }


    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            return base.OnAfterRenderAsync(firstRender);
        }
        return Task.FromResult(firstRender);
    }

    protected override bool ShouldRender()
    {
        return true;
    }
}